

body{
    /* Typography */
    font-size: 18px;
    line-height: 27px;

    /* Visual */
    /* background-color:lightgrey; */
}


 .navbar-brand.brand {
    background-color:teal;
    color: rgb(255,255,255);
    padding: 3px;
 }
 h1{
     color:teal;
 }
 p{
    display: inline-flexbox;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:lightslategray;
    padding:1px;
    border-top-style: solid;
    border-width:5px;
    border-top-color: teal;
    
}
.copy{
    padding-top: 9px;
}

.btncl{
    background-color: teal;
    color: white;
}
.btnlinkedin{
    background:lightslategray;
    color: white;
}