body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  background: url("../Images/brandi-redd-aJTiW00qqtI-unsplash.jpg") no-repeat
    fixed center;

  /* Full height */
  height: 100%;

  background-position: center;
  background-size: cover;
  /* background-repeat: repeat; */

  /* Visual */
  background-color: slategray;
}

.navbar-brand.brand {
  background-color: lightslategray;
  color: rgb(255, 255, 255);
  padding: 3px;
}
h1 {
  color: rgb(59, 19, 19);
  font-family: Montserrat;
  text-align: center;
}
h6 {
  text-align: left;
  font-family: Montserrat;
  font-size: medium;
}
p {
  display: inline-flexbox;
}
h3 {
  font-family: Montserrat;
  font-style: italic;
  color: rgb(17, 17, 37);

  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
h4 {
  font-family: Montserrat;
  font-style: italic;

  color: rgb(17, 17, 37);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: lightslategray;
  padding: 1px;
  border-top-style: solid;
  border-width: 10px;
  border-top-color: rgb(255, 255, 255);
}
.copy {
  padding-top: 9px;
}

.btncl {
  /* background-color: teal; */
  background-color: rgba(121, 92, 92, 0.274);
  color: rgb(59, 19, 19);
  font-weight: bolder;
}
.btnlinkedin {
  /* background:lightslategray; */
  color: grey;
}
.jumbotron {
  background-color: rgba(243, 243, 234, 0.233);
}

.navbar {
  background-color: lightslategray;
  color: rgb(59, 19, 19);
  border-bottom-style: solid;
  border-width: 10px;
  border-bottom-color: rgb(255, 255, 255);
}
.nav-item:hover {
  background-color: #22120c;
}
.col-sm-4 {
  padding: 5px;
}
.bgcolor {
  color: rgb(59, 19, 19);
  background-color: rgb(188, 198, 207);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-radius: 40px;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: lightslategray;
  color: #fff;
  border-radius: 100%;
  font-size: 1 rem;
  margin-right: 1.5 rem;
}
.social-icons .bcResume {
  width: 4rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #22120c;
}
#status {
  width: 98%;

  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: yellowgreen;
  animation: status 4s ease forwards;
}
#status.error {
  background-color: #22120c;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
